@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
    
}

body {
    margin: 0;
}

.pageContainer {
    display: flex;
}

.column {
    flex: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 1em;
}

.smallColumn {
    flex: 5%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 0;
    width: 20%;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.panelNav {
    display: flex;
}

.panelNav > button {
    flex: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 1em;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .column {
      width: 100%;
    }
  }