table {
    width: auto;
    text-align: center;
}

h1 {
    text-align: center;
    width: auto;
}

thead {
    background-color: rgb(27,30,10);
    color: rgb(220,220,220);
}

th {
    text-align: center;
}

.column {
    flex: auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 1em;
}

/* Seizoen sideline */
#seizoenTitle {
    width: auto;
    text-align: center;
}

#speeldagenList {
    padding-left: 0;
}

#speeldagenList li {
    height: 50px;
    width: auto;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

#speeldagenList li button {
    width: 80%;
    height: auto;
}

.panelNav {
    display: flex;
    width: auto;
    text-align: center;
}

.panelKlassement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:5px;
    width: auto;
    text-align: center;
}



/* Tables klassement */
.klassementSpeelDag {
    flex: auto;
    width: 100%;
    justify-content: space-between;
}

.klassementSpeeldag>h1, #klassementSeizoen>h1{
    width: auto;
    margin-bottom: 0px;
}




.styled-table {
    border-collapse: collapse;
    margin: 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: auto;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table tr:hover {
    color: #bc6c25;
}

.styled-table thead tr {
    background-color: #606c38;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #606c38;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #606c38;
}

#speeldagenList {
    list-style: none;
}



@media screen and (max-width: 600px) {
    .column {
      width: auto;
    }
  }

  @media only screen and (max-device-width: 900px) {
    /* the whole page */
    .pageContainer {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    /* Seizoen pannel after header */
    .smallColumn{
        width: auto;
        padding: 5px;
    }
    #seizoenTitle{
        width: auto;
        height: 2%;
        margin: 0;
    }

    #speeldagenList {
        display: flex;
        padding-left: 5px;
        padding-right: 5px;
        flex-wrap: wrap;
        margin-top: 5px;
        margin-bottom: 5px;
        justify-content: center;
        padding: 0px;
    }
    #speeldagenList li button {
        width: 100%;
        margin: 0;
    }

    #speeldagenList li  {
        margin: 3px;
        width: 31%;
    }

    /* Klassement pannel */
    .flexColumn{
        width: auto;
        padding: 0;
        border-top: none;
    }

    .panelNav {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .panelKlassement {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .styled-table {
        width: 100%;
        margin: auto;
    }

    #styled-table thead tr th{
        min-width: none;
    }
    #styled-table thead {
        min-width: none;
    }

    #styled-table tbody tr td{
        min-width: none;
    }
  }